h1 {
	color: red

	border-color: white;
	border-width: 2px;
	border-style: solid; 
}

li {
	color: #800000
}



h4 {
	color: blue
}

body {
background: url(https://img4.goodfon.com/wallpaper/nbig/2/10/vector-abstract-background-design-wavy.jpg);
}